<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
    <h3>Ana sayfaya hoşgeldiniz, seçenekleriniz aşağıdadır.</h3>
    <h2><a href = "\ormAdd">ORM Ekleme</a></h2>
    <h2><a href = "\ormlist">ORM List</a></h2>
    <h2><a href = "\enternew">Non ORM Ekleme</a></h2>
    <h2><a href = "\nonlist">Non ORM List</a></h2>
    <h2><a href = "\mail-gonder">E-mail Yollama</a></h2>
</head>
<body>
    
</body>
</html>